.sm-screen-conversation-container-collapsed,
.sm-screen-conversation-container-expanded,
.sm-screen-conversation-container{
    display: none;
}

@media screen and (max-width: 425px) {

    .sm-screen-conversation-container-expanded {
        margin-top: 20px;
        width: 100%;
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .sm-screen-conversation-container-collapsed {
        display: none;
    }
    .sm-screen-chat-toggle-buttons{
        display: flex;
        min-width: 30%;
    }
    .sm-screen-button-switcher-container {
        width: 98%;
        height: 50px;
        border-radius: 5px;
        background: linear-gradient(to right bottom, rgb(68, 45, 106), rgba(74, 37, 139, 0.5));
        gap: 5px;
        padding: 10px 5px;
        display: flex;
    }

    button.sm-screen-direct-messages-button,
    button.sm-screen-rooms-button {
        width: 50%;
        border-radius: 30px;
        border: none;
        background-color: #1f0935;
        color: white;
        font-size: 10px;
        cursor: pointer;
        font-weight: lighter;
    }

    button.sm-screen-direct-messages-button:hover,
    button.sm-screen-rooms-button:hover {
        outline-offset: -1px;
        outline: 1px solid white;
    }

    .sm-screen-chat-search-input {
        flex: 1;
        border-radius: 50px;
        border: none;
        outline: 1px solid white;
        outline-offset: -1px;
        background-color: transparent;
        background-image: url('./media/smallScreenShearchIcon.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center;
        background-size: 20px;
        color: white;
        text-indent: 10px;
        font-size: 10px
    }

    .sm-screen-chat-search-input:focus {
        background-image: none;
        outline: 1px solid #7660D9;
    }

    .sm-screen-conversations-list-wrapper {
        display: flex;
        flex-direction: column;
        width: 98%;
        height: 600px;
        background: linear-gradient(to right bottom, rgb(68, 45, 106), rgba(74, 37, 139, 0.5));
        border-radius: 5px;
        padding: 5px;
    }

    .sm-screen-conversations-list-content{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
    }

    .sm-screen-conversation-item {
        padding: 7px 5px;
        display: flex;
        gap: 5px;
    }

    .sm-screen-conversation-item:hover {
        background-color: #1f0935;
        cursor: pointer;
        border-radius: 5px;
    }


    .sm-screen-conversation-item-avatar {
        width: 35px;
        border-radius: 50px;
    }
    
    .sm-screen-conversation-item-details {
        width: 100%;

    }
    .sm-screen-conversation-item-name {
        font-size: 14px;
    }

    .sm-screen-conversation-item-last-msg{
        font-size: 10px;
        font-weight: 100;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: -2px;
    }

    .sm-screen-conversation-container {
        margin-top: 20px;
        width: 98%;
        height: 650px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background: linear-gradient(to right bottom, rgb(68, 45, 106), rgba(74, 37, 139, 0.5));
        padding: 10px 5px;
    }
    .sm-screen-conversation-header {
        display: flex;
        justify-content: space-between;
        background-color: #1f0935;
        padding: 5px;
        border-radius: 5px;
    }
    .sm-screen-conversation-header-info {
        display: flex;
        gap: 5px;
    }
    .sm-screen-conversation-back-arrow {
        width: 25px;
        cursor: pointer;
    }
    .sm-screen-conversation-avatar {
        width: 35px;
        border-radius: 50px;
    }
    .sm-screen-conversation-details {
        
    }
    .sm-screen-conversation-name {
        font-size: 14px;
        
    }
    .sm-screen-conversation-info {
        font-size: 10px;
        font-weight: 100;
        margin-top: -2px

    }
    .sm-screen-conversation-options {
        display: flex;
        align-items: center;
        gap: 5px;

    }
    .sm-screen-conversation-invite-icon {
        width: 25px;
        cursor: pointer;
    }
    .sm-screen-conversation-options-icon {
        width: 20px;
        cursor: pointer;

    }
    .sm-screen-conversation-content {
        flex: 1;
        margin: 10px 5px;
        overflow-y: auto;
    }
    .sm-screen-conversation-form {

    }
    input.sm-screen-conversation-input {
        padding: 7px 0px;
        border: none;
        outline: 1px solid white;
        outline-offset: -1px;
        border-radius: 30px;
        background-color: transparent;
        text-indent: 10px;
        color: white;
        font-size: 10px;
        width: 100%;
    }
}