.rooms-page {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  overflow: hidden;
}

.page-middle-container {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  position: relative;
}

.rooms-container {
  margin-top: 80px;
  width: calc(90% - 32.5px);
  height: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 110px;
}

.join-room-container,
.create-room-container {
  position: absolute;
  color: black;
  background-color: #d9d9d9;
  left: 50%;
  top: 450px;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 25px 25px;
  border-radius: 10px;
  width: 420px;
}

.join-room-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.join-room-form input {
  width: 100%;
  padding: 10px 0px;
  text-indent: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 300;
  background-color: transparent;
}

.join-btns {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.blur {
  filter: blur(7px);
}

.join-and-create {
  width: calc(100% - 10px);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.join-room-btn,
.create-room-btn {
  padding: 10px 0px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  outline: 1px solid white;
  outline-offset: -2px;
  border-radius: 5px;
}
.join-room-btn:hover,
.join-room-btn:focus,
.create-room-btn:hover,
.create-room-btn:focus {
  cursor: pointer;
  background-color: #913dce;
  outline: none;
}

.join-room-text,
.create-room-text {
  font-size: 15px;
  font-weight: 500;
}

.join-icon,
.create-icon {
  width: 25px;
}
.my-rooms-row,
.suggested-room-row,
.invitation-room-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}
.rooms-header {
  align-self: flex-start;
  margin: 0.7rem 0;
  font-size: 22px;
  font-weight: 600;
}

.rooms-slider {
  --slider-index: 0;
  --items-per-screen: 4;
  width: 100%;
  display: flex;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 500ms ease-in-out;
}

.suggested-rooms-slider {
  --suggested-slider-index: 0;
  --items-per-screen: 4;
  width: 100%;
  display: flex;
  transform: translateX(calc(var(--suggested-slider-index) * -100%));
  transition: transform 500ms ease-in-out;
}

.invitation-rooms-slider {
  --invitation-slider-index: 0;
  --items-per-screen: 4;
  width: 100%;
  display: flex;
  transform: translateX(calc(var(--invitation-slider-index) * -100%));
  transition: transform 500ms ease-in-out;
}
.room-box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  min-width: calc(100% / var(--items-per-screen) - 10px);
  max-width: calc(100% / var(--items-per-screen) - 10px);
  height: 220px;
  background: linear-gradient(
    to right bottom,
    rgb(68, 45, 106),
    rgba(74, 37, 139, 0.5)
  );
  border-radius: 5px;
  padding: 25px 10px 10px 10px;
  justify-content: space-between;
}

.invitation-room-box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  min-width: calc(100% / var(--items-per-screen) - 10px);
  max-width: calc(100% / var(--items-per-screen) - 10px);
  height: 80px;
  background: linear-gradient(
    to right bottom,
    rgb(68, 45, 106),
    rgba(74, 37, 139, 0.5)
  );
  border-radius: 5px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hande {
  width: 45px;
  background-color: #d9d9d9;
  border-radius: 8px;
}

.hande:hover {
  cursor: pointer;
}

.left-hande {
  position: absolute;
  left: 0;
  z-index: 100;
  transform: translate(-110%);
  background-color: transparent;
}
.right-hande {
  position: absolute;
  right: 0;
  transform: translate(110%);
  z-index: 100;
  background-color: transparent;
  border-radius: 50px;
}

.room-settings {
  width: 30px;
}

.room-details {
  display: flex;
  gap: 10px;
}

.room-desc {
  font-size: 15px;
}

.room-avatar {
  width: 60px;
  height: 60px;
  border-radius: 7px;
}

.room-name {
  font-size: 22px;
  font-weight: bolder;
}

.room-members {
  font-size: 12px;
  font-weight: lighter;
}

.btn-and-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.leave-room {
  flex-grow: 1;
  border: none;
  background-color: #1f0935;
  font-size: 15px;
  padding: 10px 0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}



.public-room,
.private-room,
.protected-room {
  padding: 10px 0px;
  width: 33%;
  background-color: transparent;
  border: none;
  outline: 1px solid #913dce;
  outline-offset: -1px;
  color: #913dce;
  border-radius: 5px;
  font-weight: 600;
}

.selected-room {
  font-weight: 600;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #913dce;
  padding: 10px 0px;
  width: 33%;
}

.create-room-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-room-form input {
  color: #15072a;
  width: 100%;
  padding: 10px 0px;
  text-indent: 10px;
  outline: 1px solid black;
  border: none;
  border-radius: 5px;
  font-weight: 300;
  background-color: #d9d9d9;
}

.create-room-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.create-room,
.cancel-create-room,
.cancel-room,
.join-room {
  width: 50%;
  padding: 10px 0px;
  border: none;
  background-color: transparent;
  outline: 1px solid black;
  outline-offset: -1px;
  border-radius: 5px;
  font-weight: 550;
  cursor: pointer;
}

.room-visibility {
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  outline: 1px solid black;
  outline-offset: -1px;
  padding: 10px 0px;
  font-size: 14px;
}

.create-room-header,
.join-room-header {
  font-size: 22px;
  font-weight: 500;
  color: #913dce;
}

.room-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#room-avatar-label {
  flex: 1;
  background-image: url('./media/PlaceHolder.svg');
  cursor: pointer;
  border: none;
  outline: 1px solid black;
  outline-offset: -1px;
  padding: 10px 42px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px;
  background-position-x: 10px;
}

#room-image {
  display: none;
}

.default-room-avatar {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  outline: 1px solid wheat;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
}

.default-room-avatar:hover {
  transform: scale(1.1);
}

.room-settings:hover {
  cursor: pointer;
}
.room-settings-container {
  position: absolute;
  background-color: #15072a;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.close-setting-btn {
  width: 25px;
  cursor: pointer;
}

.leave-room-container {
  position: absolute;
  width: 95%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #1f0935;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.confirm-leave-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.confirm-leave-cancel-btn,
.confirm-leave-confirm-btn {
  width: 40%;
  height: 30px;
  background-color: white;
  font-weight: 600;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 2px;
}
.change-room-details {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.change-room-name,
.update-room-avatar,
.add-room-admin,
.invite-member-room,
.delete-room{
  text-align: center;
  width: 100%;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.change-room-name:hover,
.update-room-avatar:hover,
.add-room-admin:hover,
.invite-member-room:hover,
.delete-room:hover{
  background:#913dce;
}

.join-visibility-btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.room-visibility-check {
  gap: 5px;
  display: flex;
}

.select-visibilty-lables {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.change-room-name-container,
.update-room-avate-container,
.delete-room-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #1f0935;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.add-room-admin-container,
.invite-room-member-container {
  position: absolute;
  background-color: #15072a;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.upload-room-avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.live-updated-room-avatar {
  width: 80px;
  height: 80px;
  border-radius: 7px;
}

#upate-room-image-label {
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.update-room-avatar-btns,
.change-room-name-btns,
.delete-room-btns {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}
.update-room-avatar-btns button,
.change-room-name-btns button,
.delete-room-btns button{
  width: 40%;
  height: 30px;
  background-color: white;
  font-weight: 600;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 2px;
}

#update-room-image {
  display: none;
}

.change-room-name-input {
  width: calc(80% + 10px);
  height: 30px;
  text-indent: 10px;
  background-color: transparent;
  border-radius: 5px;
  outline: 1px solid white;
  outline-offset: -1px;
  color: white;
}




.invitation-owner {
  font-weight: 600;
}
.invitation-room-details-container { 
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.invitation-room-avatar {
  width: 55px;
  height: 55px;
  border-radius: 7px;
}

.accept-and-cancel-bnts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  width: 50%;
}

.cancel-room-invitation,
.accept-room-invitation {
  border: none;
  font-size: 15px;
  width: 100%;
  font-weight: 500;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
}
.cancel-room-invitation {
  background-color: white;
  color: #15072a;
}
.accept-room-invitation {
  background-color: #1f0935;
  color: white;
}

.invitation-room-name {
  font-size: 15px;
  font-weight: 700;
}
.invitation-room-members {
  font-size: 10px;
  font-weight: 100;
}


.room-visibility-btns {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5px;
}

.invite-room-member-image {
  width: 50px;
}
.add-admin-member-infos {
  display: flex;
  flex-direction: column;
}
.add-room-member-list {
  display: flex;
  justify-content: space-between;
}
.invite-member-infos {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .page-middle-container {
    width: 1360px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .rooms-slider {
    --items-per-screen: 3;
  }

  .suggested-rooms-slider {
    --items-per-screen: 3;
  }
  .invitation-rooms-slider {
    --items-per-screen: 3;
  }
  .hande {
    width: 35px;
  }
}


@media screen and (max-width: 768px) {
  .rooms-container {
    gap: 25px;
  }
  .slider-container {
    overflow-x: auto;
  }
  .rooms-slider {
    --items-per-screen: 2;
  }

  .suggested-rooms-slider {
    --items-per-screen: 2;
  }
  .invitation-rooms-slider {
    --items-per-screen: 2;
  }

  .hande {
    display: none;
  }

  .rooms-container {
    width: 100%;
  }
  .join-room-btn,
  .create-room-btn {
    width: 50%;
  }
  .rooms-container {
    gap: 15px;
  }
}
@media screen and (max-width: 425px) {
  .rooms-slider {
    --items-per-screen: 1;
  }

  .suggested-rooms-slider {
    --items-per-screen: 1;
  }
  .invitation-rooms-slider {
    --items-per-screen: 1;
  }
  .join-and-create {
    gap: 10px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .join-room-btn,
  .create-room-btn {
    padding: 7px 0px;
    width: 100%;
  }
  .join-and-create {
    gap: 5px;
  }
}
