.rooms-page {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}

.rooms-error-container-active {
  text-align: center;
  padding: 5px 10px;
  position: absolute;
  width: 30%;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #913dce;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  z-index: 101;
}

.rooms-error-container {
  display: none;
}

.rooms-error-content {
  flex: 1;
}

.rooms-close-error-button {
  width: 25px;
}

.rooms-page-content {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  position: relative;
}

.rooms-wrapper {
  margin-top: 10px;
  width: calc(90% - 32.5px);
  height: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 110px;
}

.blur {
  filter: blur(2px);
  pointer-events: none;
}

.rooms-actions-buttons-container {
  width: calc(100% - 10px);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.join-room-button,
.create-room-button {
  padding: 10px 0px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  outline: 1px solid white;
  outline-offset: -2px;
  border-radius: 5px;
}
.join-room-button:hover,
.join-room-button:focus,
.create-room-button:hover,
.create-room-button:focus {
  cursor: pointer;
  background-color: #913dce;
  outline: none;
}

.join-room-icon,
.create-room-icon {
  width: 25px;
}

.join-room-text,
.create-room-text {
  font-size: 15px;
  font-weight: 500;
}

.rooms-header {
  align-self: flex-start;
  margin: 0.7rem 0;
  font-size: 22px;
  font-weight: 600;
}

.my-rooms-row,
.suggested-room-row,
.invitations-room-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hande {
  width: 45px;
  background-color: #d9d9d9;
  border-radius: 8px;
}

.hande:hover {
  cursor: pointer;
}

.left-hande {
  position: absolute;
  left: 0;
  z-index: 100;
  transform: translate(-110%);
  background-color: transparent;
}
.right-hande {
  position: absolute;
  right: 0;
  transform: translate(110%);
  z-index: 100;
  background-color: transparent;
  border-radius: 50px;
}

.rooms-slider-container {
  width: 100%;
  overflow: hidden;
}

.rooms-slider {
  --slider-index: 0;
  --items-per-screen: 4;
  width: 100%;
  height: 220px;
  display: flex;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 500ms ease-in-out;
}

.empty-rooms-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  background-color: #15072ae2;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.suggested-rooms-slider {
  --suggested-slider-index: 0;
  --items-per-screen: 4;
  width: 100%;
  height: 220px;
  display: flex;
  transform: translateX(calc(var(--suggested-slider-index) * -100%));
  transition: transform 500ms ease-in-out;
}

.invitations-rooms-slider {
  --invitation-slider-index: 0;
  --items-per-screen: 4;
  width: 100%;
  height: 80px;
  display: flex;
  transform: translateX(calc(var(--invitation-slider-index) * -100%));
  transition: transform 500ms ease-in-out;
}

/* JoinRoom*/
.join-room-container,
.create-room-container {
  position: absolute;
  color: black;
  background-color: #d9d9d9;
  left: 50%;
  top: 400px;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 25px 25px;
  border-radius: 5px;
  width: 420px;
}

.create-room-header,
.join-room-header {
  font-size: 22px;
  font-weight: 500;
  color: #913dce;
}

.join-room-visibility-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.join-room-visibility-text {
}
.join-room-visibility-labels {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.join-room-visibility-check {
  gap: 5px;
  display: flex;
}

.join-room-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.join-room-form input {
  width: 100%;
  padding: 10px 0px;
  text-indent: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 300;
  background-color: transparent;
}

.join-room-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.create-room,
.cancel-create-room,
.join-room-cancel,
.join-room-submit {
  width: 50%;
  padding: 10px 0px;
  border: none;
  background-color: transparent;
  outline: 1px solid black;
  outline-offset: -1px;
  border-radius: 5px;
  font-weight: 550;
  cursor: pointer;
}

/*CreateRoom*/

.room-visibility {
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  outline: 1px solid black;
  outline-offset: -1px;
  padding: 10px 0px;
  font-size: 14px;
}

.room-visibility-btns {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5px;
}

.public-room,
.private-room,
.protected-room {
  padding: 10px 0px;
  width: 33%;
  background-color: transparent;
  border: none;
  outline: 1px solid #913dce;
  outline-offset: -1px;
  color: #913dce;
  border-radius: 5px;
  font-weight: 600;
}

.selected-room {
  font-weight: 600;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #913dce;
  padding: 10px 0px;
  width: 33%;
}

.create-room-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#create-room-errors {
}

.create-room-form input {
  color: #15072a;
  width: 100%;
  padding: 10px 0px;
  text-indent: 10px;
  outline: 1px solid black;
  border: none;
  border-radius: 5px;
  font-weight: 300;
  background-color: #d9d9d9;
}

.room-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#room-avatar-label {
  flex: 1;
  background-image: url("./media/PlaceHolder.svg");
  cursor: pointer;
  border: none;
  outline: 1px solid black;
  outline-offset: -1px;
  padding: 10px 42px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px;
  background-position-x: 10px;
}

#room-image {
  display: none;
}

.default-room-avatar {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  outline: 1px solid wheat;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
}

.default-room-avatar:hover {
  transform: scale(1.1);
}

.create-room-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

/*MyRooms*/

.room-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  min-width: calc(100% / var(--items-per-screen) - 10px);
  max-width: calc(100% / var(--items-per-screen) - 10px);
  height: 220px;
  background: linear-gradient(
    to right bottom,
    rgb(68, 45, 106),
    rgba(74, 37, 139, 0.5)
  );
  border-radius: 5px;
  padding: 25px 5px 5px 5px;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

.room-header {
  overflow: hidden;
  display: flex;
  gap: 10px;
  border-radius: 5px;
  padding: 5px;
}

.room-header:hover {
  background-color: #1f0935;
}

.room-avatar {
  width: 60px;
  height: 60px;
  border-radius: 7px;
  outline: 0.5px solid #15072a;
}
.room-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.room-name {
  overflow: hidden;
  font-size: 20px;
  font-weight: bolder;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
}

.room-member-count {
  font-size: 10px;
  font-weight: lighter;
}

.room-topic {
  font-size: 15px;
}

.room-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.room-leave-button {
  flex-grow: 1;
  border: none;
  background-color: #1f0935;
  font-size: 15px;
  padding: 10px 0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.room-settings-icon {
  width: 30px;
  cursor: pointer;
}

.room-settings-menu {
  position: absolute;
  background-color: #15072a;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.room-settings-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.room-settings-close-button {
  width: 25px;
  cursor: pointer;
}

.room-settings-change-name,
.room-settings-update-avatar,
.room-settings-add-admin,
.room-settings-invite-member,
.room-settings-delete-room {
  text-align: center;
  width: 100%;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.room-settings-change-name:hover,
.room-settings-update-avatar:hover,
.room-settings-add-admin:hover,
.room-settings-invite-member:hover,
.room-settings-delete-room:hover {
  background: #913dce;
}

.room-change-name-wrapper,
.room-update-avatar-wrapper,
.room-delete-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #1f0935;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.room-change-name-title {
  font-weight: 600;
}

.change-room-name-input {
  width: calc(95% + 10px);
  height: 30px;
  text-indent: 10px;
  background-color: transparent;
  border-radius: 5px;
  outline: 0.5px solid white;
  outline-offset: -1px;
  color: white;
}

.room-update-avatar-buttons,
.room-change-name-buttons,
.room-delete-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.room-update-avatar-buttons button,
.room-change-name-buttons button,
.room-delete-buttons button {
  width: 48%;
  height: 30px;
  background-color: white;
  font-weight: 600;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 2px;
}

.room-update-avatar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.room-update-avatar-preview {
  width: 80px;
  height: 80px;
  border-radius: 7px;
}

#room-update-avatar-label {
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#update-room-image {
  display: none;
}

.room-add-admin-wrapper,
.room-invite-member-wrapper {
  position: absolute;
  background-color: #15072a;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.room-add-admin-close-button,
.room-invite-member-close-button {
  align-self: flex-end;
  width: 20px;
  cursor: pointer;
}

.room-leave-wrapper {
  position: absolute;
  width: 95%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #1f0935;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.room-leave-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.room-leave-cancel-button,
.room-leave-confirm-button {
  width: 40%;
  height: 30px;
  background-color: white;
  font-weight: 600;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 2px;
}

/*chatRoomMember*/

.add-room-member-list,
.invite-room-member-list {
  display: flex;
  justify-content: space-between;
}

.add-admin-member-infos,
.invite-member-infos {
  display: flex;
  gap: 5px;
}

.add-room-admin-image,
.invite-room-member-image {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.add-admin-member-name,
.invite-room-member-name {
  font-size: 10px;
  font-weight: 600;
}

.add-admin-member-level,
.invite-room-member-level {
  font-size: 8px;
  font-weight: lighter;
}

.add-room-admin-btn,
.invite-room-member-btn {
  width: 30%;
  font-size: 10px;
  height: 20px;
  border: none;
  background-color: white;
  color: #15072a;
  border-radius: 5px;
  cursor: pointer;
}

/*ChatRoomMemberToInvite*/
.room-invite-sent-icon {
  width: 25px;
}

/*InvitationRooms*/

.invitation-room-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  min-width: calc(100% / var(--items-per-screen) - 10px);
  max-width: calc(100% / var(--items-per-screen) - 10px);
  height: 80px;
  background: linear-gradient(
    to right bottom,
    rgb(68, 45, 106),
    rgba(74, 37, 139, 0.5)
  );
  border-radius: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.invitation-room-details {
  display: flex;
  gap: 5px;
  width: 100%;
}

.invitation-room-avatar {
  width: 45px;
  height: 45px;
  border-radius: 7px;
  border: 0.5px solid #1f0935;
}

.invitation-room-name {
  font-size: 15px;
  font-weight: 700;
}

.invitation-room-member-count {
  font-size: 10px;
  font-weight: 100;
}

.invitation-room-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.room-invitation-cancel,
.room-invitation-accept {
  border: none;
  font-size: 14px;
  width: 100%;
  font-weight: 600;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-room-invitation {
  background-color: white;
  color: #15072a;
}
.room-invitation-accept {
  background-color: #1f0935;
  color: white;
}

@media screen and (min-width: 1440px) {
  .rooms-wrapper {
    width: 1360px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .rooms-slider {
    --items-per-screen: 3;
  }

  .suggested-rooms-slider {
    --items-per-screen: 3;
  }

  .invitations-rooms-slider {
    --items-per-screen: 3;
  }

  .hande {
    width: 35px;
  }
}

@media screen and (max-width: 768px) {
  .rooms-wrapper {
    gap: 15px;
    width: 100%;
  }
  .slider-container {
    overflow-x: auto;
  }
  .rooms-slider {
    --items-per-screen: 2;
  }
  .empty-rooms-slider {
    font-size: 14px;
    text-align:center;
  }
  .suggested-rooms-slider {
    --items-per-screen: 2;
  }
  
  .invitations-rooms-slider {
    --items-per-screen: 2;
  }

  .join-room-button,
  .create-room-button {
    width: 50%;
  }
  .rooms-header {
    margin: 0;
    font-size: 16px;
  }
  .hande {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .rooms-slider {
    --items-per-screen: 1;
  }

  .suggested-rooms-slider {
    --items-per-screen: 1;
  }
  .invitations-rooms-slider {
    --items-per-screen: 1;
  }
  .rooms-actions-buttons-container {
    gap: 5px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .join-room-button,
  .create-room-button {
    padding: 7px 0px;
    width: 100%;
  }
  /* JoinRoom*/
  .join-room-container,
  .create-room-container {
    width: 98%;
    padding: 25px 5px;
  }
}
@media screen and (max-width: 375px) {
  .create-room-header,
  .join-room-header {
    font-size: 22px;
  }

  .join-room-visibility-buttons {
    gap: 5px;
  }
  .join-room-visibility-text {
    font-size: 14px;
  }
  .join-room-visibility-labels {
    gap: 5px;
    font-size: 14px;
  }


  .join-room-form input {
    text-indent: 5px
  }

  .join-room-form input::placeholder {
    font-size: 10px;
  }

  .join-room-buttons {
    flex-direction: column;
    width: 100%;
  }

  .create-room,
  .cancel-create-room,
  .join-room-cancel,
  .join-room-submit {
    width: 100%;
  }


  .room-visibility {
  }
  
  .room-visibility-btns {
    flex-direction: column;
    gap: 5px;
  }
  
  .public-room,
  .private-room,
  .protected-room {
    width: 100%;
  }
  
  .selected-room {
    width: 100%;
  }
  
  .create-room-form {
    gap: 5px;
  }
  
  #create-room-errors {
  }
  
  .create-room-form input {
    text-indent:5px
  }
  
  .create-room-form input::placeholder {
    font-size: 12px;
  }
  
  .create-room-btns {
    flex-direction: column;
  }
  
}
