@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #211336;
    font-family: "IBM Plex Sans", sans-serif;
    overflow: hidden;
}

/*.main_page*/

.main_page {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* overflow-y: scroll; */
}


.blur {
    width: 100%;
    display: flex;
    justify-content: center;
    filter: blur(3px);
}

/*channel creation holder*/

.container-holder {
    margin-top: 100px;
    min-width: 1400px;
    max-width: 800px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*create and join button container*/
.join-n-create {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join-n-create button{
    width: 500px;
    height: 40px;
    background-color: #913DCE;
    border-radius: 5px;
    color: white;
    font-weight:bold;
    font-size: 1rem;
    border: none;
}

.channels-space {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.suggested-channels ,.your-channels{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba(126,87,194,1), rgba(126,87,194,0.5));
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;;
}

.your-channels h2, .suggested-channels h2 {
    padding: 15px 0px;
}

.channels-list {
    margin-top: 15px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.channels-list::-webkit-scrollbar {
    display: none;
  }

.join-n-create button:hover , .channel:hover{
    cursor: pointer;
}



.line {
    height: 0.5px;
    background: white;
    opacity: 0.5;
    width: 80%;
    text-align: center;
}
/* CreateChannel */
.create-modal {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    background-color: white;
}

#modal-header {
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: 26px;
    color: #913DCE;
}

.creation-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.visibility {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.creation-form input {
    width: 90%;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    text-indent: 10px;
}

.visibility-buttons {
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 15px;
    margin: 10px 0px;
}


.visibility-buttons .public, .visibility-buttons .private, .visibility-buttons .protected {
    background-color: white;
    border: 1px solid black;

}

.visibility-buttons button {
    height: 40px;
    width: 50%;
    font-weight: bold;
    border-radius: 5px;
}

.creation-buttons {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 15px;
}
.creation-buttons button {
    height: 30px;
    width: 30%;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
}

#errors {
    width: 90%;
    font-size: 12px;
    text-indent: 8px;
    color: red;
}
button:hover {
    cursor: pointer;
}

input:focus{
    outline-color:#913DCE;
}

.selected {
    background-color: #913DCE;
    color:white;
    border: none;
}


/* join channel */

.join-modal {
    width: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

#join-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 90%;
}

#join-form input {
    width: 90%;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    text-indent: 10px;
}
.join-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
    width: 90%;
}

.join-buttons button {
    height: 30px;
    width: 30%;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
}

.channel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.channel-details {
    padding: 10px 10px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.channel-details img {
    width: 45px;
    height: 45px;
}


.channel-details:hover, .channel-details:focus {
    border-radius: 5px;
    background-color: #913DCE;
}

#three-points {
    margin: 10px 10px;
    position: relative;
    /* background-color: red; */
}

.options {
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: black;
    top: 50%;
    left: -40px;
    border-radius: 2px;
    opacity: 0.5;

}

.members-number {
    font-size: 12px;
}