env/
venv/
.venv/
.env
__pycache__/
migrations/
db.sqlite3
uploads
/.vscode
.DS_Store
log
frontend/.env.production
pongiverse.me*
nginx/pongiverse_me*
Backups/
Cache/
CachedData/
databases/
logs/
User/
Network Persistent State
notes.txt
SharedStorage
TransportSecurity

# monitoring-system
monitoring_system/archive
monitoring_system/tools
