# POSTGRES
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=


# IMPORTANT: 'YOUR_DOMAIN_NAME' appears MULTIPLE TIMES in this file.
# Be sure to replace ALL occurrences with your actual domain name.
# Example: DOMAIN_NAME=example.com

# NGINX
DOMAIN_NAME=YOUR_DOMAIN_NAME

INTRA_SIGNIN_CLIENT_ID=
INTRA_SIGNIN_SECRET_ID=
INTRA_SIGNUP_CLIENT_ID=
INTRA_SIGNUP_SECRET_ID=
GOOGLE_SIGNIN_CLIENT_ID=
GOOGLE_SIGNIN_SECRET_ID=
GOOGLE_SIGNUP_CLIENT_ID=
GOOGLE_SIGNUP_SECRET_ID=
SIGNIN_REDIRECT_URI='https://YOUR_DOMAIN_NAME/signin'
SIGNUP_REDIRECT_URI='https://YOUR_DOMAIN_NAME/signup'
IP_ADDRESS='YOUR_DOMAIN_NAME'
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
SECRET_KEY =
PROTOCOL=
PORT=
DJANGO_SECRET_KEY=
HOSTS_ALLOWED=YOUR_DOMAIN_NAME

# REACT_VITE
VITE_PROTOCOL=https
VITE_IPADDRESS=YOUR_DOMAIN_NAME
VITE_PORT=443
VITE_SECRET_KEY=
VITE_SOCKET=wss

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379

# monitoring-system
BACKEND_URL=backend:8000
BACKEND_SETTINGS=backend

#DOCKER
FRONTEND='http://frontend:3000'
BACKEND='http://backend:8000'
GOOGLE_CONTENT="https://lh3.googleusercontent.com"
HOST='https://YOUR_DOMAIN_NAME'
EMAIL_HOST=
EMAIL_PORT=

#SSL
COUNTRY=
STATE=
LOCATION=
ORGANIZATION=
OUNIT=
DOMAIN='YOUR_DOMAIN_NAME'
UID=

#MONITORING
PROMETHEUS_URL='http://localhost:9090'
EMAIL_USERNAME=
EMAIL_IDENTITY=
EMAIL_PASSWORD=
ALERTMANAGER_TARGET='localhost:9093'
BACKEND_TARGET='backend:8000'
NODE_EXPORTER_TARGET='localhost:9100'
REMOTE_WRITE_USERNAME=
REMOTE_WRITE_PASSWORD=
