* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-page {

    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.chat-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    overflow-y: auto;
}

.conv-container {
    background: linear-gradient(to right bottom, rgba(126,87,194,1), rgba(126,87,194,0.5));
    height: 1100px;
    margin-top: 40px;
    margin-bottom: 120px;
    border-radius: 3px;
}


.conversations {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 0px 15px 0px;
}

.conversations__switcher {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0px 15px;
}

.conversations__switcher__home, .conversations__switcher__channels {
    color: white;
    font-weight: bolder;
    padding: 10px 0px;
    width: 50%;
    border: 1.5px solid white;
    border-radius: 5px;
    background-color: transparent;
    font-size: 20px;
}

.conversations__switcher__home:hover, .conversations__switcher__channels:hover,
.conversations__switcher__home:focus, .conversations__switcher__channels:focus {
    cursor: pointer;
    background-color: #1E0935;
    border: 1.5px solid white;
    color: white;
    font-weight: bolder;

}

.conversations__search{
    display: flex;
    padding: 0 15px;
}

.conversations__search__input {
    width: 100%;
    padding: 10px 0px 10px 0;
    border: 2px solid white;
    border-radius: 30px;
    background-color: transparent;
    text-indent: 10px;
    color: white;
    font-size: 15px;
}

.conversations__search__input::placeholder {
    color: white;
}

.conversations__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
::-webkit-scrollbar {
    display: none;
  }

.conversation {
    width: 55%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}

.conversation__name {
    padding: 10px 10px;
    background-color: #1E0935;
    border-radius: 5px;
}

.conversation__messages {
    /* flex: 2; */
    height: 100%;
    gap: 100px;

    margin: 10px 5px;
    overflow-y: auto;
    /* height: 500px; */
    justify-content: flex-end;
    align-items: flex-end;
}


.conversation__form__input {
    padding: 10px 0px 10px 0;
    border: 2px solid white;
    border-radius: 30px;
    background-color: transparent;
    text-indent: 10px;
    color: white;
    font-size: 16px;
    width: 100%;
}


.conversation-holder, .conversation-holder--active {
    display: flex;
    gap: 10px;
    padding: 15px 15px;
}

.conversation-holder:hover,
.conversation-holder:focus {
    cursor: pointer;
}


.message-row__my-message, .message-row__other-message {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 10px;
    gap:5px;
}

.message-row__other-message  {
    justify-content: flex-start;
}

.message-row__mymessage__text, .message-row__other-message__text  {
    background-color: #1E0935;
    padding: 10px 15px;
}


.my-message , .other-message{
    word-break: break-all;
    max-width: 70%;
    background-color: #1E0935;
    border: 1px solid #1E0935;
    border-radius: 14px 0px 14px 14px;
    overflow: auto;
}

.other-message{
    border-radius: 14px 14px 14px 0px;
}

.message-row__mymessage__avatar {
    width: 30px;
    margin-bottom: 10px;
}