:root {
	--mobile-size: 425px;
	--tablet-size: 768px;
	--laptop-size: 1440px;
	--desktop-size: 2560px;
}

body {
	font-family: IBM Plex Sans, sans-serif;
	background-color: #250939;
}

.page {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 100px;
}

.home {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 100px;
}

.sections {
	color: white;
	display: flex;
	gap: 10px;
}

/* var func doesn't works with min-width func :( idk */
/* @media screen and (min-width: var(--desktop-size)) 
{
} */

@media screen and (max-width: 2560px) {
	.sidebar {
		display: none;
	}
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 768px) {
	ol,
	ul,
	li,
	a {
        margin: 0;
		padding: 0;
	}
	.loginbBtn,
	.sectionsBtns {
        display: none;
	}
	.navbar {
		position: relative;
	}
	.sidebar {
        display: flex;
		flex-direction: column;
		position: absolute;
        top: 100%;
		gap: 20px;
        width: 100%;
        background-color: #334568;
	}
	.sidebar img {
        width: 20px;
	}
	.sidebar img.cross {
        align-self: center;
        margin-top: 20px;
	}
    
	.sidebar img.menu {
        align-self: flex-end;
        position: absolute;
        top: -45px;
        margin-right: 20px;
	}
    
	.sidebarSections {
        display: flex;
		flex-direction: column;
        align-items: center;
		gap: 10px;
		background-color: #334568;
		position: absolute;
        width: 100%;
		top: 100%;
	}
    .sidebarSections a button {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        align-self: center;
        font-weight: 600;
        font-size: 20px;
        padding: 10px 80px;
        border-radius: 25px;        
    }
    .sidebarSections a {
        padding: 10px;
        color: white;
        text-decoration: none;
    }
	/* .sidebarIcon .hidden {
        
    } */
}

@media screen and (max-width: 425px) {
}

/* navbar should be fixed */
.navbar {
	position: fixed;
	width: 100%;
	display: flex;
	padding: 10px 0;
	justify-content: space-around;
	background-color: #250939;
	box-shadow: -3px -2px 20px 6px rgb(21 17 17 / 63%);
}

.pingLogo {
	height: 50px;
}

.sectionsBtns {
	align-self: center;
	border: none;
	padding: 10px 20px;
	background-color: transparent;
	font-size: larger;
	color: white;
	border-radius: 5px;
}

.loginbBtn {
	background-color: transparent;
	border: 2px solid white;
	color: white;
	align-self: center;
	font-weight: 600;
	font-size: 20px;
	padding: 10px 30px;
	border-radius: 25px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin-top: 120px;
}

.headerText {
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-width: 500px;
	width: 60%;
}

.title {
	color: white;
	font-size: 60px;
	font-weight: 900;
}

.subTitle {
	color: white;
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
	width: 100%;
}

.signUpBtn {
	align-self: flex-start;
	background-color: #913dce;
	border: none;
	border-radius: 10px;
	padding: 12px 19px;
	font-size: 20px;
	font-weight: 600;
	color: white;
}

.about {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.aboutCards {
	color: white;
	font-weight: 600;
	font-style: italic;
	font-size: large;
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
	justify-content: center;
}

.Description {
	background-color: #334568;
	border-radius: 10px;
	padding: 20px;
	width: 400px;
	height: 400px;
}

.Description h1 {
	margin-top: -45px;
}

.Description h1,
.Description div {
	padding: 0 20px;
}

.team {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	gap: 30px;
}

.teamList {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.teamCard {
	color: #334568;
	background: rgba(255, 255, 255, 0.43);
	border: 1px solid rgba(255, 255, 255, 0.81);
	height: 230px;
	width: 200px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	font-weight: 600;
}

.teamCard img {
	margin: 15px 0 0 0;
	height: 100px;
	width: 100px;
}

.teamCard span {
	display: flex;
	gap: 20px;
	color: transparent;
}

.teamCard span a img {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	height: 30px;
	border: none;
	/* border-color: #334568; */
	/* border-radius: 5px; */
	width: 30px;
}

.teamCard span button img {
	height: 30px;
	width: 30px;
	margin: 0;
}

.cta {
	background-color: white;
	border-radius: 15px;
	padding: 15px 15px;
	display: flex;
	color: #334568;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.cta p {
	font-size: larger;
	font-weight: 600;
}

.cta button {
	align-self: center;
	width: 200px;
}

.footer {
	background-color: #334568;
	color: white;
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
}
