.forgot-password-page {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 1200px;
}

.forgot-password-form {
	width: 20%;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.forgot-password-title {
	color: #EAD3D6;
}

.forgot-password-description {
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	width: 90%;
}


.forgot-password-input {
	width: 90%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	text-indent: 15px;
	color: white;
	font-size: medium;
	margin-top: 30px;
}

.forgot-password-input:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.forgot-password-input:focus {
	outline: none;
	border-color: transparent;
	background-color: rgba(255, 255, 255, 0.5);
}

.forgot-password-input:active {
	border: none;
	outline: none;
}

.forgot-password-button {
	width: 90%;
	height: 60px;
	border: none;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	color: white;
	background-color: #913DCE;
}

.forgot-password-button:active {
	background-color: black;
}


.blur-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(4px);
	z-index: 9999;
}

.custom-input {
	width: 90%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	text-indent: 15px;
	color: white;
	font-size: medium;
	margin-top: 30px;
}

.custom-input :hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.custom-input :focus {
	outline: none;
	border-color: transparent;
	background-color: rgba(255, 255, 255, 0.5);
}

.custom-input :active {
	border: none;
	outline: none;
}

.popup-title-style {
	color: black;
}

@media(min-width: 1440px) {
	.forgot-password-form {
		width: 430px;
		max-width: 430px;
	}
}

@media(max-width: 1439px) {
	.forgot-password-form {
		width: 30%;
		min-width: 400px;
	}
}

@media(max-width: 430px){

	.forgot-password-form {
		width: 40%;
		min-width: none;
	}
	.forgot-password-title{
		font-size: 25px;
	}
}


@media (max-width: 240px){
	.forgot-password-form {
		width: 230px;
		min-width: none;
		min-width: none;
	}
	.forgot-password-title{
		font-size: 20px;
	}
	.forgot-password-description {
		width: 100%;
		font-size: 10px;
	}
}

