.dashpage {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    /* border: white solid 1px; */
    overflow-y: scroll;
    gap : 20px;
    padding-top:40px;
}

.dash--space{
    gap: 15px;
    padding: 0 15px;
}
.dash--bkborder {
    border-radius: 3px;
    background: linear-gradient(to right bottom, rgb(68, 45, 106), rgba(74, 37, 139, 0.5));
}

/* -------HEAD------ */

.dashpage .dashpage__head {
    display: flex;
    height: 80px;
    width: 100%;
    /* border: purple solid 2px; */
}
.dashpage .dashpage__head .dashpage__head__element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    padding: 0 7px;
}

.dashpage .dashpage__head .dashpage__head__element img{
    height: 35px;
    width: 35px;
}

/* --------------------------BODY------------------------- */

.dashpage .dashpage__body {
    display: flex;
    width: 100%;
    height: 542px;
    /* border: purple solid 2px; */
}

/* -------statistics------- */

.dashpage .dashpage__body .dashpage__body__statistics {
    width: 67%;
    padding: 20px 10px;
}

.dashpage .dashpage__body .dashpage__body__statistics h1 {
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}
.dashpage .dashpage__body .dashpage__body__statistics img {
    margin: 20px 0 0 0;
    height: 400px;
    width: 100%;
}

/* -------rank------- */

.rank-classment {
    width: 32.8%;
    display: flex;
}

.dashpage .dashpage__body .dashpage__body__rank{
    width: 100%;
}
.dashpage .dashpage__body .dashpage__body__rank h1{
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 10px;
    border-bottom: #250939 solid 10px;
    text-align: center;
}

.dashpage__body__rank .dashpage__body__rank__title{
    display: flex;
    color: white;
    border-bottom: #250939 solid 3px;
}

.dashpage__body__rank .dashpage__body__rank__title .title {
    padding: 8px;
    width: 100%;
    text-align: center;
    background: #775C9E;
    border-right: black solid 0.5px;
}

.dashpage__body__rank .dashpage__body__rank__title .title:hover {
    background: rgb(247, 239, 255);
    color: #5f4582;
}

.dashpage__body__rank .dashpage__body__rank__classment {
    display: flex;
    flex-direction: column;
    /* border: solid 1px white; */
    height: 440px;
    overflow-y: scroll;
}

.dashpage__body__rank .dashpage__body__rank__classment:hover {
    cursor: pointer;
}

.dashpage__body__rank__classment .player__classment{
    display: flex;
    color: white;
    /* border: solid 1px white; */
    align-items: center;
    border-bottom: #250939 solid 3px;
}

.dashpage__body__rank__classment .player__classment:hover{
    background-color: #250939;
    transition: ease-in 0.2s;
    box-shadow: 0 2px 30px 0 #250939;
}

.dashpage__body__rank__classment .player__classment .player__pos_pic{
    display: flex;
    width: 110px;
    align-items: center;
    justify-content: space-between;
    /* border: white solid 1px; */
    margin-left: 5px;
}

.player__pos_pic .winners {
    padding: 5px;
    font-weight: 500;
    color: black;
    border-radius: 3px;
}

.winner--1 {
    background-color: gold;
}

.winner--2 {
    background-color: silver;
}

.winner--3 {
    background-color: #CD7F32; /* Bronze Color*/
}


.dashpage__body__rank__classment .player__classment .player__pos_pic img{
    border-radius: 50%;
    width: 35px;
    margin-left: 5px;
}

.dashpage__body__rank__classment .player__classment .player__name_level{
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    word-break: break-all;
    /* border: white 1px solid; */
}

.player__name_level--champions{
    font-weight: 550;
    font-size: 17px;
}

/* ------FOOTER------ */

.dashpage .dashpage__footer {
    width: 100%;
    height: 300px;
    display: flex;
    margin-bottom: 100px;
}

.footer__single-match,
.footer__multiplayer-match,
.footer__tournament-match {
    /* border: white solid 2px; */
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.footer__titles {
    color: white;
    font-size: 23px;
    margin-bottom: 8px;
}

.footer__result {   /* result of all footer matches */
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
    
    background: rgba( 255, 255, 255, 0.25 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 2px 30px 0 #250939;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.footer__result:hover{
    transition: ease-in 0.2s;
    box-shadow: 0 2px 30px 0 #5f4582;
    cursor: pointer;
}

/* Single Match */

.footer__single-match .single-match__result img {
    width: 45px;
}

/* Multiplayer Match */

.footer__multiplayer-match .multiplayer-match__result .multiplayer-pics {
    display: flex;
    gap : 3px;
}

.multiplayer-match__result .multiplayer-pics img:nth-child(1) {
    margin-bottom: 15px;
}

.multiplayer-match__result .multiplayer-pics img:nth-child(2) {
    margin-top: 15px;
}

.multiplayer-match__result .multiplayer-pics img{
    width: 40px;
}

/* Tournament Match */

.footer__tournament-match .tournament-match__result img {
    width: 45px;
}

/* Pagination */

.expand-more {
    color: white;
    margin-top: -2px;
}

.expand-less {
    color: #250939;
    margin-top: -2px;
}

.expand-more:hover,
.expand-less:hover {
    color: #775C9E;
    cursor: pointer;
}

@media (max-width: 950px) {

    /* Body rank Classment */
    .dashpage__body__rank__classment .player__classment .player__pos_pic{
        width: 90px;
    }
    .player__pos_pic .winners {
        padding: 2px;
        font-weight:400;
    }
    .dashpage__body__rank__classment .player__classment .player__pos_pic img{
        width: 32px;
    }
    
    .dashpage__body__rank__classment .player__classment .player__name_level{
        padding: 13px;
        font-size: 11.5px;
    }
    .player__name_level--champions{
        font-weight: 450;
        font-size: 12px;
    }
    
    /* Footer */

    .footer__titles {
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .footer__result p{
        font-size: 13px;
    }

    .footer__tournament-match .tournament-match__result img,
    .footer__single-match .single-match__result img {
        width: 40px;
    }

    .footer__multiplayer-match .multiplayer-match__result .multiplayer-pics {
        gap : 0px;
    }
    .multiplayer-match__result .multiplayer-pics img{
        width: 30px;
    }
}

@media (min-width: 768px) {
    .footer__tournament-match2{
        display: none;
    }
}

@media (max-width:768px) {
    
    .footer__tournament-match {
        display: none;
    }
    
    .dashpage {
        gap : 15px;
        padding-top:20px;
    }

    .dashpage .dashpage__head {
        height: 50px;
        flex-shrink: 0;
    }
    .dashpage .dashpage__head .dashpage__head__element {
        font-size: 13px;
    }
    .dashpage .dashpage__head .dashpage__head__element img{
        height: 25px;
        width: 25px;
    }

    .dashpage .dashpage__body {
        height: 820px;
        flex-direction: column;
    }

    /* Statistics */
    .dashpage .dashpage__body .dashpage__body__statistics {
        width: 100%;
        padding: 10px 10px;
    }
    .dashpage .dashpage__body .dashpage__body__statistics h1 {
        font-size: 25px;
        font-weight: 500;
    }
    .dashpage .dashpage__body .dashpage__body__statistics img {
        height: 200px;
    }
    
    /* Rank */
    
    .rank-classment {
        width: 100%;
        gap: 15px;
    }
    .dashpage .dashpage__body .dashpage__body__rank{
        width: 60%;
    }
    .dashpage .dashpage__body .dashpage__body__rank h1{
        font-weight: 500;
        padding: 5px;
        border-bottom: #250939 solid 5px;
    }
    .footer__tournament-match2 {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        gap: 10px;
        /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    }
    .footer__tournament-match2 h1 {
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 20px;
    }
    .footer__tournament-match2 .tournament-match__result img {
        width: 45px;
    }
    
    .footer__single-match,
    .footer__multiplayer-match{
        width: 50%;
    }
}

@media (max-width: 550px) {
    /* Head */
    .dashpage .dashpage__head {
        flex-wrap: wrap;
        gap: 0.5%;
    }
    .dashpage .dashpage__head .dashpage__head__element {
        font-size: 10px;
        width: 49.75%;
        height: 25px;
        margin-bottom: 2px;
    }
    .dashpage .dashpage__head .dashpage__head__element img{
        height: 20px;
        width: 20px;
    }

    /* Body */
    .dashpage .dashpage__body {
        height: 1400px;
    }
    .rank-classment {
        flex-direction: column;
    }
    .dashpage .dashpage__body .dashpage__body__rank,
    .footer__tournament-match2,
    .footer__single-match,
    .footer__multiplayer-match{
        width: 100%;
    }
    .dashpage .dashpage__footer {
        flex-direction: column;
        height: 700px;
    }
}