.dashpage {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    /* border: white solid 1px; */
    overflow-y: scroll;
    gap : 20px;
    padding-top:40px;
}

.dash--space{
    gap: 15px;
    padding: 0 15px;
}
.dash--bkborder {
    border-radius: 3px;
    background: linear-gradient(to right bottom, rgb(68, 45, 106), rgba(74, 37, 139, 0.5));
}

/* -------HEAD------ */

.dashpage .dashpage__head {
    display: flex;
    width: 100%;
    height: 130px;
    /* border: purple solid 2px; */
}
.dashpage .dashpage__head .dashpage__head__element {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 100%;
    height: 100%;
}

.dashpage .dashpage__head .dashpage__head__element img{
    height: 35px;
    width: 35px;
}

/* --------------------------BODY------------------------- */

.dashpage .dashpage__body {
    display: flex;
    width: 100%;
    height: 542px;
    /* border: purple solid 2px; */
}

/* -------statistics------- */

.dashpage .dashpage__body .dashpage__body__statistics {
    width: 67%;
    padding: 20px 10px;
}

.dashpage .dashpage__body .dashpage__body__statistics h1 {
    color: white;
    font-weight: 600;
}
.dashpage .dashpage__body .dashpage__body__statistics img {
    margin: 20px 0 0 0;
    height: 400px;
    width: 100%;
}

/* -------rank------- */

.dashpage .dashpage__body .dashpage__body__rank{
    width: 32.8%;
}
.dashpage .dashpage__body .dashpage__body__rank h1{
    color: white;
    font-size: 25px;
    padding: 10px 0px 10px 0px;
    border-bottom: #250939 solid 10px;
    text-align: center;
}

.dashpage__body__rank .dashpage__body__rank__title{
    display: flex;
    color: white;
    justify-content: space-around;
    border-bottom: #250939 solid 3px;
}

.dashpage__body__rank .dashpage__body__rank__title .title {
    padding: 8px 20px;
    width: 100%;
    text-align: center;
    background: #775C9E;
    border-right: black solid 0.5px;
}

.dashpage__body__rank .dashpage__body__rank__title .title:hover {
    background: rgb(247, 239, 255);
    color: #5f4582;
}

.dashpage__body__rank__classment {
    display: flex;
    flex-direction: column;
    /* border: solid 1px white; */
    height: 440px;
    overflow-y: scroll;
}

.dashpage__body__rank__classment .player__classment{
    display: flex;
    color: white;
    /* border: solid 1px white; */
    align-items: center;
    border-bottom: #250939 solid 3px;
}

.dashpage__body__rank__classment .player__classment .player__pos_pic{
    display: flex;
    width: 110px;
    align-items: center;
    /* border: white solid 1px; */
    justify-content: space-between;
    margin-left: 5px;
}

.player__pos_pic .winners {
    height: 30px;
    padding: 5px;
    font-weight: 500;
    color: black;
    border-radius: 3px;
}

.winner--1 {
    background-color: gold;
}

.winner--2 {
    background-color: silver;
}

.winner--3 {
    background-color: #CD7F32; /* Bronze Color*/
}


.dashpage__body__rank__classment .player__classment .player__pos_pic img{
    border-radius: 50%;
    height: 35px;
    width: 40px;
    margin-left: 5px;
}

.dashpage__body__rank__classment .player__classment .player__name_level{
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    word-break: break-all;
}

.player__name_level--champions{
    font-weight: 550;
    font-size: 17px;
}

.dashpage__body__rank__classment .player__classment:hover {
    /* background-color: #775C9E; */
    background-color: #250939;
}

/* ------FOOTER------ */

.dashpage .dashpage__footer {
    width: 100%;
    height: 300px;
    display: flex;
}

.dashpage .dashpage__footer__element {
    /* border: white solid 2px; */
    width: 100%;
    /* background-color: ; */
}