.second-step-page {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh
}

.second-step-navbar {
	display: flex;
	width: 100%;
	height: 60px;
	margin-left: 10%;
	margin-top: 20px;
}

.second-step-form-div{
	width: 100%;
	height: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.second-step-form {
	width: 20%;
	/* height: 400px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* gap: 10px; */
}

.second-step-form-inputs-and-image-display{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.second-step-form-inputs {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.second-step-form-display-image {
	width: 30%;
	border: 1.5px solid white;
	border-radius: 5px;
}

.second-step-form-image-default {
	width: 100%;
	height: 100%;
}

.second-step-form-inputs-input {
	width: 85%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	text-indent: 10px;
	color: white;
	font-size: medium;
}

.second-step-form-inputs-image-label {
	width: 85%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	color: white;
	font-size: medium;
	cursor: pointer;
}

.second-step-form-inputs-input:hover,
.second-step-form-inputs-image-label:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.second-step-form-inputs-input:focus,
.second-step-form-inputs-image-label:focus {
	outline: none;
	border-color: transparent;
	background-color: rgba(255, 255, 255, 0.5);
}

.second-step-form-inputs-input:active,
.second-step-form-inputs-image-label:active {
	border: none;
	outline: none;
}

.second-step-form-inputs-input::placeholder {
	opacity: 1;
	font-size: 15px;
	text-indent: 10px;
	color: #EAD3D6;
}

.second-step-form-inputs-image {
	display: none;
}

.second-step-form-button {
	width: 100%;
	height: 60px;
	border: none;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	color: white;
	background-color: #913DCE;
	margin-top: 20px;
}

.second-step-form-button:active {
	background-color: black;
}

@media (max-width: 240px) {
	.forgot-password-navbar {
		width: 100%;
		height: 50px;
		margin-left: 7%;
		margin-top: 10px;
	}
}